<h3>{{ component.name }}</h3>

<img width="25%" src="{{ component.dimensionImage.url }}"/>

<h4>Options</h4>
{% if option_list %}
    <table>
    <tr><th>Name</th><th>Optional</th></tr>
    {% for option in option_list %}
        <tr><td>{{ option.name }}</td><td>{{ option.isOptional }}</td></td>
    {% endfor %}
    </table>
{% else %}
    <p>No option.</p>
{% endif %}

<h4>Parameters</h4>
{% if parameter_list %}
    <table>
    <tr><th>Name</th>
        <th>Optional</th>
        <th>Nominal required</th>
        <th>Minimum required</th>
        <th>Maximum required</th>
    </tr>
    {% for parameter in parameter_list %}
        <tr><td>{{ parameter.name }}</td>
            <td>{{ parameter.isOptional }}</td>
            <td>{{ parameter.isNominalRequired }}</td>
            <td>{{ parameter.isMinimumRequired }}</td>
            <td>{{ parameter.isMaximumRequired }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No parameter.</p>
{% endif %}

